<%- include("header") -%>





<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim, libero laboriosam mollitia sit rerum maxime earum laudantium hic quo possimus quidem iusto, nulla expedita dignissimos adipisci deserunt alias? Impedit?</p>


<%-include("footer") -%>